/* Navigation  */
#navbar{
    justify-content: center;
flex-direction: column;
align-items: center;
}



#navbar ul li a{
    font-size: 1rem;
    padding:8px 7px ;
}
#navbar ul li a:hover{
    display: block;
    padding:3px 5px;
 
}
/* Home Section  */


#home{
    height: 370px;
    padding: 1px 20px;
    flex-direction: column;
}
#home::before{
    height: 480px;

}

#home p{
    font-size:13px;
}

.btn{
    padding:6px 8px;
    margin: 15px;
    font-size: 0.8rem;
   
}


/* Services Section */
#services{
flex-direction: column;
}

#services .box{
    padding: 10px;
    margin: 12px 15px;
}
#services .box img{
   width: 100px;
   height: 120px;
}

/* Client section */
#clients{
   flex-wrap: wrap;
}

#client-section{
    position: relative;
    height: 380px;
}
#clients img {
    height: 80px;
}
.client-item
{
    padding: 10px;
}
 
/* Contact Section  */
#contact-box form{
    width: 70%;
}


/* Utility Classes */
.h-primary{
    font-size: 22px;
}


html{
    scroll-behavior: smooth;
}